doctype html
html(ng-app="myApp")
	head
		meta(charset="UTF-8")
		title Understanding the Model-View-Controller architecture
		link( rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		script( src="bower_components/angular/angular.min.js" )
		script( src="js/author.js" )
	body
		div(ng-controller = "MyController")
			h1 {{author.name}}
			p {{author.title + ', ' + author.company}}
