doctype html
html(ng-app="myApp")
	head
		meta(charset="UTF-8")
		title Working with complex models
		link( rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		script( src="bower_components/angular/angular.min.js" )
		link(rel="stylesheet", href="css/syles.css")
		script( src="js/controllers.js" )
	body
		.container
			.row
				.col-md-5.col-md-offset-3
					article(ng-controller="MyController")
						ul(class="artistList")
							li(class="atrist clearfix", ng-repeat="item in artists")
								img(ng-src="img/{{item.shortname}}_tn.jpg", alt="Photo of {{item.name}}")
								h2 {{item.name}}
								h3 {{item.reknown}}


