doctype html
html(ng-app)
	head
		meta(charset="UTF-8")
		title hello
		link( rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		script( src="bower_components/angular/angular.min.js" )
	body
		.row
			nav
				ul
					li 1. Getting Started
					ul
						li: a(href="./2lessonModelViewController.html") Understanding the Model View Controller architecture
					li 2. Working with Models
					ul
						li: a(href="./3WorkingwithComplexModels.html") Working with complex models
						li: a(href="./4UsingthehttpservicetoreadaJSONfile.html") Using the $http service to read a JSON file 
						



