// Colors
$ArtistName: #c61c6f;
$ArtistReknown: #C26F52;
$ArtistBackground: #E3E6D5;
$ArtistBackgroundHover: #C7C7C7;

// Global styles

body{
	background: #9F9F8F;
	font-size: 100%;
}

li{
	text-decoration: none;
}
// Artist 
.atrist{
	background-color: $ArtistBackground;
	display: block;
	h2{
		color: $ArtistName;
		font-size: 2.3em;
	}	
	h3{
		font-size: 1.7em;
		color: $ArtistReknown;
	}
	img{
		width: 15%;
		margin: 12px;
		float: left;
		border-radius: 15px;
		
	}
}
.atrist:last-child{
	border-radius: 0 0 50px 50px;
	border-bottom: 0;
}
.atrist:last-child:hover{
	border-radius: 0;
	transition: ease-out 0.5s;
}
.atrist:hover{
	background-color: $ArtistBackgroundHover;
	transition: ease-out 0.5s;
}

